@use '../../../assets/variables' as v;

.鉢管理モーダル {
  .見出し {
    font-size: 16px;
  }
  .管理ボタン {
    display: flex;
    gap: 8px;
    margin: 16px 0;
  }
  .鉢の情報 {
    margin-bottom: 16px;
  }
  .液肥の表示 {
    display: flex;
    justify-content: end;
    color: v.$color-grey;
  }
}
