@charset "UTF-8";
/* you can write some variables here */
.MyButton {
  color: white;
  background-color: #929292;
}
.MyButton.Active {
  background: #0ACF84 !important;
}

.PasswordInput button {
  padding: 0 4px;
  width: auto !important;
}

.Layout .Header {
  background: #0ACF84;
  color: white;
  height: 32px;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Layout .Main {
  padding: 32px;
  min-height: calc(100vh - 32px - 32px);
}
.Layout .Footer {
  background: #525252;
  color: white;
  height: 32px;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.LoginPage .Content {
  max-width: 600px;
  width: 100%;
  margin: auto;
}
.LoginPage .Content .Step > * {
  margin: 32px 16px;
}
.LoginPage .Content .Step hr {
  width: calc(100% - 32px);
}
.LoginPage .Content .Step button, .LoginPage .Content .Step .MyAlert {
  width: calc(100% - 32px);
}
.LoginPage .Content .Step button {
  display: block;
}
.LoginPage .Content .Step .GoogleSignInButtonContent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.LoginPage .Content .Step.FirstStep .EmailPasswordSignIn > div input {
  font-size: 14px;
}
.LoginPage .Content .Step.FirstStep .GoogleIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.LoginPage .Content .Step .chakra-input__group {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.LoginPage .Content .Step .Desc {
  min-height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.LoginPage .Content .Step .Desc .Icon {
  margin-right: 4px;
}

.Top .棚を作成 {
  padding: 8px;
  border: dimgrey solid 1px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}
.Top .棚を作成:hover {
  background: lightgrey;
}

body {
  margin: 0;
  background: #f1f3f5;
}