@charset "UTF-8";
.Layout {
  padding: 32px;
}
/* you can write some variables here */
.Top .棚を作成 {
  padding: 8px;
  border: dimgrey solid 1px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}
.Top .棚を作成:hover {
  background: lightgrey;
}

body {
  margin: 0;
  background: #f1f3f5;
}