.鉢を作成モーダル {
  .FormItem {

    .UploadImage {
      width: 100%;
      display: block;
      .ant-upload.ant-upload-select {
        width: 100%;
      }
    }

    margin-bottom: 16px;
    label {
      display: block;
      margin-bottom: 8px;
    }
    .MyInputWithAlert {
      margin-bottom: 8px;
    }
  }

}
