@use '../../../assets/variables' as v;

.鉢の情報 {
  .Editable {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .科属種 {
    .項目 {
      word-break: keep-all;
      display: flex;
      align-items: center;
      gap: 4px;
    }
    .候補となっているデフォルト設定 {
      font-size: 10px;
      color: v.$color-grey;
      margin: 4px 0 8px 8px;
      .Item {
        display: flex;
        align-items: center;
        gap: 4px;
        > p {
          margin: 0;
        }
      }

    }
  }
  .項目名 {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .日光の強度 .側 {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 100%;
    gap: 4px 8px;
    padding-bottom: 12px;

    .Item {
      display: flex;
      align-items: center;
      gap: 8px;
      p {
        margin: 0;
      }
    }
  }
}
