@use '../../../assets/variables' as v;

.Top {
  .SectionTitle {
    font-size: 14px;
  }

  .表示形式の内容 {
    display: flex;
    align-items: center;
    gap: 16px;

    .灌水専用ページへのリンク {
      display: flex;
      align-items: center;
      gap: 4px;
      .New {
        font-size: v.$font-size-normal;
        color: v.$red;
      }
    }
  }

  .棚を作成 {
    padding: 8px;
    border: dimgrey solid 1px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    &:hover {
      background: lightgrey;
    }
  }

  .Section {
    margin: 16px 0;
  }
}
