@use '../../assets/variables' as v;
.Layout {
  .Header {
    background: v.$primary-color;
    color: white;
    height: 32px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }

    .Right {
      display: flex;
      gap: 8px;
    }
  }
  .Main {
    padding: 16px;
    min-height: calc(100vh - 32px - 32px)
  }
  .Footer {
    background: v.$background-grey-dim;
    color: white;
    height: 32px;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
}
