// this `use` expression resolved importer defined in buildStyle.ts.
@use 'variables' as v;

body {
  margin: 0;
  background: v.$background-color;
  font-family: 'Barlow', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}


