@use '../../../assets/variables' as v;

.植物ごとのデフォルト設定ページ {
  .棚を作成 {
    padding: 8px;
    border: dimgrey solid 1px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    &:hover {
      background: lightgrey;
    }
  }

  .Section {
    margin: 16px 0;
  }
}
