@use '../../../assets/variables' as v;

.植物ごとのデフォルト設定ページ {
  .Section {
    margin: 16px 0;
  }
  .一覧表示 {
    margin: 16px 0;

    .要素 {
      .科属種 {
        .項目 {
          display: flex;
        }
      }
      .日光の強度 {
        .Item {
          display: flex;
          align-items: center;
          gap: 8px;
          > p {
            margin: 4px 0;
          }
        }
      }
    }
  }
}
