@use '../../../assets/variables' as v;

.鉢一覧の要素 {
  position: relative;

  .表示 {
    position: absolute;
    font-size: 10px;
    background: rgba(255, 255, 255, 0.72);
    padding: 2px 3px;
    border-radius: 3px;
  }

  .上部補足情報 {
    // 左上
    left: 0;
    top: 0;
    font-weight: bold;
    background: rgb(82, 82, 82, 0.72);
    color: white;
  }

  .最後の灌水からの経過日数 {
    // 右下
    right: 0;
    bottom: 0;
    padding: 1px 2px;
    display: flex;
    align-items: center;
    gap: 2px;
    word-break: keep-all;
    white-space: nowrap;
    overflow-x: hidden;
  }

  .最後の液肥からの経過日数 {
    // 左下
    left: 0;
    bottom: 0;
    display: flex;
    gap: 2px;
  }

  .植替待ち {
    // 右上
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    gap: 2px;
    color: v.$color-blue;
    font-size: 16px;
  }

  .ImageContainer {
    display: flex;
    justify-content: center;

    .鉢一覧の要素 {
      position: relative;
    }
    .OverlapItem {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .GreyScale {
    filter: grayscale(100%);
  }
}
