@use '../../../assets/variables' as v;

.植物ごとのデフォルト設定ページ {

  .Editable {
    justify-content: start;
  }
  .MyLink {
    display: block;
    margin-bottom: 16px;
  }
  .Section {
    margin: 16px 0;
  }
  .日光の強度 {
    padding: 8px !important;
    .側 {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr 1fr;
      gap: 4px 8px;

      .Item {
        display: flex;
        align-items: center;
        gap: 8px;
        > p {
          margin: 4px 0;
        }
      }
    }
  }
}
