@use '../../../assets/variables' as v;

.棚の設定ページ {
  .Section {
    margin: 16px 0;
  }

  .SortableItem {
    margin: 8px 0;
    .ant-card-body {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;

      input {
        margin: 0;
      }
    }
  }
}
